@use 'variables' as v;

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: v.$lightGray;
    font-family: v.$fontMain;
}

.card {
    background-color: v.$white;
    border-radius: 1rem;
    padding: 1rem;
    margin: 0 2rem;
    max-width: 25rem;

    .img {border-radius: 1rem;}

}

.container-content {
    text-align: center;
    padding: 2rem 0;

    .title {
        margin: 0 .7rem 1.5rem .7rem;
        font-size: 1.7rem;
        color: v.$darkBlue;

        @media (max-width: 480px) {
            font-size: 1.4rem;
        }
    }

    .description {
        margin: 0 3rem;
        color: v.$grayishBlue;
    }
    
}